<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Bem-Sucedido - Sistema de Reserva de Hotel</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="form-container">
        <h1>Usuário registrado com sucesso!</h1>
        <p>Seu cadastro foi realizado com sucesso.</p>
        <a href="/login" class="button">Fazer Login</a>
    </div>
</body>
</html>
