<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Sistema de Reserva de Hotel</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="form-container">
        <h1>Registro de Usuário</h1>
        <form id="registerForm">
            <label for="firstName">Nome:</label>
            <input type="text" id="firstName" name="firstName" required>
            
            <label for="lastName">Sobrenome:</label>
            <input type="text" id="lastName" name="lastName" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Registrar</button>
        </form>
        <p id="message"></p>
        <p>Já tem uma conta? <a href="login">Entrar</a></p>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = {
                firstName: document.getElementById('firstName').value,
                lastName: document.getElementById('lastName').value,
                email: document.getElementById('email').value,
                password: document.getElementById('password').value
            };

            fetch('/user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/register_success';
                } else {
                    document.getElementById('message').innerText = 'Erro ao registrar usuário.';
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                document.getElementById('message').innerText = 'Erro ao registrar usuário.';
            });
        });
    </script>
</body>
</html>
